<div class="container">
    <div class="pb-8 card">
        <app-card-head-list
            [title]="'Encuestas-colegios'"
            [icon]="'uil uil-user-md'"
            (btnClick)="addNewEncuesta()"
        ></app-card-head-list>

        <div class="pt-12">
            <p-table #dt [value]="encuestas" class="p-datatable-hoverable-rows">
                <ng-template pTemplate="caption">
                    <colegios-table-caption
                        (inputChange)="onGlobalFilterChange($event)"
                        (btnClick)="dt.exportCSV()"
                    ></colegios-table-caption>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th
                            pSortableColumn="createdAt"
                            class="text-center whitespace-nowrap"
                            style="text-align: center"
                            [style.width.px]="130"
                        >
                            FECHA DE CREACIÓN
                            <p-sortIcon field="createdAt"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nombre" style="text-align: center">
                            NOMBRE
                            <p-sortIcon field="nombre"></p-sortIcon>
                        </th>
                        <th
                            pSortableColumn="descripcion"
                            style="text-align: center"
                            class="text-center whitespace-nowrap"
                            [style.width.px]="200"
                        >
                            DESCRIPCIÓN
                            <p-sortIcon field="descripcion"></p-sortIcon>
                        </th>
                        <th
                            pSortableColumn="isActivo"
                            style="text-align: center"
                            class="w-1/3 text-center whitespace-nowrap"
                        >
                            ESTADO
                            <p-sortIcon field="isActivo"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-encuesta>
                    <tr>
                      <td style="text-align: center">{{ encuesta.createdAt | date : 'dd/MM/yyyy' }}</td>
                      <td>{{ encuesta.nombre }}</td>
                      <td>{{ encuesta.descripcion }}</td>
                      <td style="text-align: center">{{ encuesta.isActivo ? 'Activo' : 'Inactivo' }}</td>
                    </tr>
                  </ng-template>
            </p-table>
        </div>
    </div>
</div>
