<div class="container">
    <div class="pb-8 card">
        <app-card-head-list
            [title]="'Encuestas para colegios'"
            [icon]="'uil uil-user-md'"
            (btnClick)="addNewEncuesta()"
        ></app-card-head-list>

        <div class="pt-12">
            <p-table #dt [value]="encuestas" class="p-datatable-hoverable-rows" >
                <ng-template pTemplate="caption">
                    <n-table-caption
                        (inputChange)="onGlobalFilterChange($event)"
                        (btnClick)="dt.exportCSV()"
                    >
                    </n-table-caption>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th
                            pSortableColumn="createdAt"
                            class="text-center whitespace-nowrap"
                            style="text-align: center"
                            [style.width.px]="130"
                        >
                            FECHA DE CREACIÓN
                            <p-sortIcon field="createdAt"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nombre" style="text-align: center">
                            NOMBRE
                            <p-sortIcon field="nombre"></p-sortIcon>
                        </th>
                        <th
                            pSortableColumn="descripcion"
                            style="text-align: center"
                            class="text-center whitespace-nowrap"
                            [style.width.px]="200"
                        >
                            DESCRIPCIÓN
                            <p-sortIcon field="descripcion"></p-sortIcon>
                        </th>
                        <th
                            pSortableColumn="isActivo"
                            style="text-align: center"
                            class="w-1/3 text-center whitespace-nowrap"
                        >
                            ESTADO
                            <p-sortIcon field="isActivo"></p-sortIcon>
                        </th>
                        <th style="text-align: center; width: 1%">
                            <!-- Columna para el botón de opciones -->
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-encuesta>
                    <tr>
                        <td style="text-align: center">
                            {{ encuesta.createdAt | date : "dd/MM/yyyy" }}
                        </td>
                        <td style="text-align: center">
                            {{ encuesta.nombre }}
                        </td>
                        <td style="text-align: center">
                            {{ encuesta.descripcion }}
                        </td>
                        <td style="text-align: center">
                            {{ encuesta.isActivo ? "Activo" : "Inactivo" }}
                        </td>
                        <td class="text-center">
                            <n-round-button-menu
                                (click)="setMenuOptions(encuesta, $event)"
                            >
                            </n-round-button-menu>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-menu #menu [popup]="true" [model]="menuOptions"></p-menu>
    </div>
</div>
